@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border:1px solid coral; */
}
body{
    color:black;
    font-size:1rem;

}
.homepage{
    height:130vh;
    position:relative;
    background-image:linear-gradient(to right, rgb(141,154,152),rgb(154,167,165));
}

.logo{
    display:flex;
   position:absolute;
    align-items:center;
    justify-content: center;
    font-size:1.5rem;
    top:40px;
    color:white;
    left:100px;
}
.list{
    display:flex;
    justify-content:space-evenly;
    width:70%;
   
  position:absolute;
  right:5%;
  top:6%;
}

.listitem{

    list-style:none;
    font-size:1.2rem;
    color:white;
padding:5px;
}
.listitem:hover{
    border-bottom:2px solid white;
}
.listlink{
    text-decoration:none;
}
.btn1{
    
    color:rgb(102, 102, 102);
    
}


.mainpage{
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
}
.image1{
    height:650px;
    width:550px;
    object-fit:cover;
   
}
.heading1{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:11rem;
    color:rgb(255, 255, 255);
    font-family: 'Noto Serif JP', serif;
    white-space: nowrap;
font-weight:lighter;
}

.subheading1{
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:1.5rem;
    color:white;
    
    animation: up 1s 1s;
}
.subheading2{
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:4rem;
    color:white;
    white-space:nowrap;
    animation: up 1s 1s;
}

@keyframes up{
    0%{
        opacity:0;
        transform:translate(-50%,50px);
    }
    100%{
      opacity:1;
      transform:translate(-50%,-50%);
    }
  
}

.stamp{
    height:75vh;
    position:relative;
    background-color: #f2f2f2;
}
.heading2{
    position:absolute;
    margin-bottom:50px;
    top:25%;
    left:50%;
    color:rgb(158,78,62);
    font-size:2.2rem;
    font-weight:lighter;
    transform: translate(-50%,-50%);
}
.stamplogo{
    display:flex;
    position:absolute;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
  top:45%;
  
}
.stamp1{
    height:50px;
    
}
.stampinfo{
    width:30%;
   text-align:center;
   font-size:1.5rem;
}
.designers{
    height:100vh;
    background-color:#f2f2f2;
    position:relative;
}
.container{
    display:flex;
    
   justify-content:center;
   column-gap: 30px;
   align-items:center;
}
.img{
    height:350px;
    margin-bottom:20px;
}
hr{
    margin-top:20px;
}
.name{
    font-size:1.4rem;
    font-weight:lighter;
}
.artistintro{
    position:absolute;
    width:350px;
    line-height:25px;
    font-size:1rem;
}
.position{
    margin:10px 0 30px 0;
    font-size:1rem;
    color:grey;
    font-weight:lighter;
}
.quality{
    height:50vh;
    position:relative;
    background-color:#f2f2f2;
    padding:15vh 0 0 0;
    
}
.recieve{
    display:flex;
    justify-content:center;
    align-items:center;
    column-gap: 10px;
    
}
.icon{
    height:80px;
    margin-right:30px;
    float:left;
}
.heading3{
    font-size:1.5rem;
    margin-bottom:10px;
    font-weight:lighter;
   
}
.part{
    
    float:right;

}
.para3{
    width:80%;
    font-size:1.2rem;
    color:grey;
}
.sec:last-of-type{
    margin-right:-120px;
    
}
.images{
    height:80vh;
    background-color: #f2f2f2;
    position:relative;
}
.image2{
    position:absolute;
    top:65%;
    left:50%;
    transform:translate(-50%,-50%);
   z-index:10;
}
.image3{
    position:absolute;
    height:400px;
    top:85%;
    left:5%;
    z-index:20;
}
.quality_2{
    height:150vh;
   z-index:5;
   position:relative;
    background-color: #DDE2E0;
   
}
.qualitytext{
    position:absolute;
    top:25%;
    left:50%;
}
.heading4{
    font-size:3rem;
    margin-bottom:20px;
    font-weight:lighter;
    font-family: 'Noto Serif JP', serif;
}
.subheading4{
    font-size:2rem;
    font-weight:lighter;
    margin-bottom:60px;
}
.para4{
    font-size:1.25rem;
    width:70%;
    color:rgb(154,167,165);
    line-height:40px;
}
.qualitytext2{
    position:absolute;
    top:46%;
   left:-10%;
}
.part4{
    
    display:flex;
    justify-content:center;
    align-items:center;
    
   
}.icon5{
    margin-right:30px;
}
.para5{
    width:40%;
   
    font-size:1.25rem;
    line-height:40px;
}
.btn{
    border:1px solid rgb(125, 125, 125);
    padding:10px 60px;
    font-weight:lighter;
    position:absolute;
    top:80%;
    color:black;
    left:50%;
    transform:translate(-50%,-50%);
}
.footer{
    height:80vh;
    background-color:rgb(51,53,53);
    color:rgb(226,226,226);
    padding-top:150px;
}
.footer_container{
    display:flex;
    justify-content: center;
   
    gap:50px;
    /* justify-content: space-evenly; */
   
}
.footer_box:first-child{
    width:30%;
}
.subheading5{
    margin-top:20px;
    font-size:1.1rem;
}
.item1,.item2{
    margin-top:15px;
    color:rgb(226,226,226);
    list-style:none;
    font-size:1.1rem;
}
.item1:hover,.item2:hover{
color:rgb(154,167,165);
}
.location,.services{
    margin-top:20px;
}
.social{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:20px;
}
.socialicon{
   margin-top:10px;
    
}
.copyright{
    display:flex;
    justify-content:center;
    justify-content: space-between;
    margin-top:100px;
    font-size:1.25rem;
gap:30px;
border-top:1px solid rgba(185, 185, 185, 0.374);
padding:25px 0;
}
.copy1{
    margin-left:100px;
}
.copy3{
    margin-right:100px;
}
.smallbox{
    position:absolute;
    right:0;
    position:fixed;
    top:50%;
    font-size:.5rem;
    color:#f2f2f2;
    text-align:center;
    z-index:1000;
    font-family:sans-serif;

}
.number{
    font-size:1.5rem;
    font-weight:lighter;
}
.boxtext{
   font-size:.9rem;
   font-weight:lighter;
   
}
.smallbox1{
    background-color:rgb(6,7,12);
    height:70px;
    width:70px;
    padding:10px;
    border-radius:5px 0 0 5px;
    margin-bottom:5px;
    animation:dim 2s 0s infinite;
}
@keyframes dim{
    0%{
        color:#f2f2f2;
    }
    50%{
        color:rgb(69, 69, 69);
    }
    100%{
        color:#f2f2f2;
    }
}

.smallbox2{
    background-color:rgb(128,181,65);
    height:70px;
    width:70px;
    border-radius:5px 0 0 5px;
    margin-bottom:5px;
    padding:10px;
    color:#f2f2f2;
}
.bagicon{
    height:30px;
}